<%-include('header')%>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

<style>
    #site-main{
        margin: 0 45px; /* 0 for top and bottom, 10em for left and right */
        font-family: 'Barlow',sans-serif;
}

table{
border-spacing: 0px;
width: 100%;
border: 0.5px solid #ddd;
}

.addcpn {
            margin-left: 90%;
            margin-bottom: 8px;
            background-color: #4CAF50;
            color: white;
            padding: 7px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .addcpn:hover {
           background-color: #45a049;
     }


.table td,.table th{
    border: 0.5px solid #8a8a8a;
padding: .75em;
vertical-align: top;
text-align: center;

}

.table tr:hover{
background-color: #dddddd;
}

.table .thead-dark th{
color:#fff;
background-color: rgb(23, 8, 8);
border-color: #8a8a8a;
}

.form-inline {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

.form-user {
   height: 30px;
   border-radius: 20px;
   border: none;
   background: rgb(235, 235, 235);
   padding: 0 10px;
 }
 
 .diactivate,
    .active {
        text-decoration: none;
        width: 80px;
        height: 35px;
    }
 .diactivate {
        background-color: #dc3545; /* Bootstrap danger color for blocked */
        color: #fff;
        border: none;
       
        border-radius: 4px;
        cursor: pointer;
    }

    .diactivate:hover {
        background-color: #c82333;
    }

    .active {
        background-color: #28a745; /* Bootstrap success color for active */
        color: #fff;
        border: none;
        
        border-radius: 4px;
        cursor: pointer;
    }

    .active:hover {
        background-color: #218838;
    }

 </style>


<main id="site-main">
    <div class="container">
        
        
             <a href="/admin/addcoupon"> <button class="addcpn" id="addBtn">Add Coupon</button></a>
               
        
        <form action="" method="">
            <table  id="example" class="table table-striped" style="width:100%">

                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Coupon Code</th>
                        <th>Discount percentage(%)</th>
                        <th>Minimun Cart Value</th>
                        <th>Expiring date</th>
                        <th>Status</th>
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <% Coupons.forEach((coupon,index)=>{ %>
                    <tr>
                        <td><%= index +1%></td>
                        <td><%= coupon.code %></td>
                        <td><%= coupon.discount %></td>
                        <td><%= coupon.minCart %></td>
                        <td><%= coupon.expirationDate.toLocaleDateString(); %></td>
                        <td><%= coupon.status.charAt(0).toUpperCase() + coupon.status.slice(1) %>  </td>
                        <td>
                            <% if(coupon.status != 'expired'){ %>
                            <a href="/admin/changecoupon/<%= coupon._id %>">
                            <button type="button" class="<%= coupon.status=='active'? 'diactivate' : 'active' %>" > 
                               <%= coupon.status=='active'? 'Diactivate' : 'Activate' %>
                            </button></a>
                            <% } %>
                        </td>
                        
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </form>
    </div>
</main>


 <!-- DATATABLE  SCRIPT-->
 <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
 <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
 <script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>  
 <script>
    new DataTable('#example');
    
   </script>

<%-include('footer')%>